.inei-bg-success{
    background-color: #c7f4b3;
}
.inei-bg-danger{
    background-color: #fbdddd;
}
.inei-bg-warning{
    background-color: #ffd498;
}
.inei-bg-reserva{
    background-color: #dffafe;
}